.item {
    margin: 2%;
    background-color: whitesmoke;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.item form > div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    
}

.item form > div > div {
    flex-grow: 1;
    margin-right: 10px; /* Adjust margin as needed */
    
}

.item button{
    width: 30%;
    margin-left: 30%;
}

.title {
    text-align: center;
    position: sticky;
}

.table-container {
    position: absolute; /* Position the table container */
    top: 26%; /* Adjust as needed */
    right: 2%; /* Adjust as needed */
    width: 45%; /* Adjust as needed */
    height: 100%; /* Ensure the table container fills the entire height */
    max-height: calc(100vh - 150px); /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    z-index: 1; /* Ensure the table container is behind the search div */
}

.custom-table {
    border-collapse: collapse;
    background-color: #f2f2f2;
    top: 0;
    width: 100%; /* Ensure the table fills the entire width of its container */
    height: 100%; /* Ensure the table fills the entire height of its container */
}

.custom-table th, .custom-table td {
    border: 1px solid darkgrey;
    padding: 10px; /* Increase padding for better spacing */
    text-align: center;
}

.custom-table th {
    background-color: #dcdcdc; /* Set background color for table header */
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure the header is above other content */
}

.custom-table tbody tr:hover {
    cursor: pointer;
    background-color: #e0e0e0; /* Set background color for table row hover */
}

.search-div {
    font-weight: 500;
    font-size: larger;
    z-index: 2; 
}



.acc-summary {
    /* Set the background color */
    background-color: black; /* Example color */
  }

  .custom-autocomplete .MuiAutocomplete-popup {
    width: 100%;
  }
  
  .custom-autocomplete .MuiAutocomplete-inputRoot { 
    height: 35px; 
  } 

  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  @media (max-width: 768px) {
    .buttons {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
      align-items: stretch; /* Stretch buttons to full width */
    }
  
    .buttons button {
      margin: 5px 0; /* Adjust margin for vertical stacking */
      width: 100%; /* Make buttons full width */
    }
  }


  /* Item.css */

.custom-date-picker {
    position: relative;
  }
  
  .custom-date-picker .react-datepicker-wrapper {
    width: 100%;
  }
  
  .custom-date-picker .react-datepicker {
    position: absolute;
    z-index: 9999;
  }
  
  .custom-date-picker .react-datepicker__input-container input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .refresh-icon {
    cursor: pointer;
  }
  
  .rotating {
    animation: rotate 1s linear;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotating1 {
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }


  .orders-list {
    margin: 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th,
.orders-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.orders-table th {
    background-color: #f4f4f4;
}

.orders-table td input[type="checkbox"] {
    margin: 0;
}

/* Item.css */
select {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
}

/* Item.css */
.picklist-scan-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.picklist-section {
  flex: 1;
}

.barcode-section {
  flex: 0 0 300px; /* Adjust width as needed */
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.barcode-section h2 {
  margin-top: 0;
}




  
  